.idea/
cmake-build-debug/*
/sinais/*/sender
/sinais/*/receiver
CMakeLists.txt
/pipes_v1/producer
/pipes_v1/consumer
/pipes_v2/produtor-consumidor
/sockets/consumer
/sockets/producer
/sockets_it/producer
/sockets_it/consumer
